<h1>app works!</h1>

<div class="app-container">
   @if ({ status: authService.authStatus$ | async, user: authService.currentUser$ | async
   }; as auth;) {
   <mat-toolbar
      color="primary"
      fxLayoutGap="8px"
      class="app-toolbar"
      [class.app-is-mobile]="media.isActive('xs')">
      @if (auth?.status?.isAuthenticated) {
      <button mat-icon-button (click)="sidenav.toggle()">
         <mat-icon>menu</mat-icon>
      </button>
      }
      <a mat-icon-button routerLink="/home">
         <mat-icon svgIcon="lemon"></mat-icon>
         <span class="left-pad" data-testid="title">LemonMart</span>
      </a>
      <span class="flex-spacer"></span>
      @if (auth?.status?.isAuthenticated) {
      <button
         mat-mini-fab
         routerLink="/user/profile"
         matTooltip="Profile"
         aria-label="User Profile">
         @if (auth?.user?.picture) {
         <img
            alt="Profile picture"
            class="image-cropper"
            [ngSrc]="auth?.user?.picture ?? ''"
            width="40px"
            height="40px"
            fill />
         } @if (!auth?.user?.picture) {
         <mat-icon>account_circle</mat-icon>
         }
      </button>
      } @if (auth?.status?.isAuthenticated) {
      <button
         mat-mini-fab
         routerLink="/user/logout"
         matTooltip="Logout"
         aria-label="Logout">
         <mat-icon>lock_open</mat-icon>
      </button>
      }
   </mat-toolbar>
   }
   <mat-sidenav-container class="app-sidenav-container">
      ah
      <mat-sidenav
         #sidenav
         [mode]="media.isActive('xs') ? 'over' : 'side'"
         [fixedInViewport]="media.isActive('xs')"
         _
         fixedTopGap="56"
         [(opened)]="opened">
         <app-navigation-menu></app-navigation-menu>
      </mat-sidenav>
      <mat-sidenav-content>
         <router-outlet></router-outlet>
      </mat-sidenav-content>
   </mat-sidenav-container>
</div>
